crispinmobile/build
crispinmobile/.cxx
crispinmobile/libs
crispinmobile/src/main/cpp
crispinmobile/src/main/freetype*
crispinmobile/src/main/oboe*
crispinmobile/src/main/CMakeFiles
crispinmobile/src/main/nativeinterface
.externalNativeBuild
.idea
.gradle
gradle
*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.cxx
local.properties
